<!-- Header with actions -->
<div class="articles-header">
  <button
    mat-raised-button
    color="primary"
    class="create-button"
    (click)="onCreateArticle()"
  >
    Créer un article
  </button>

  <button mat-button class="sort-button" (click)="toggleSort()">
    Trier par
    <mat-icon iconPositionEnd>{{
      sortOrder === "desc" ? "keyboard_arrow_down" : "keyboard_arrow_up"
    }}</mat-icon>
  </button>
</div>
@if(isLoading) {
<div class="loading-container">
  <mat-spinner></mat-spinner>
</div>
}

<!-- Articles grid -->
@if(!isLoading && articles.length > 0) {
<div class="articles-grid">
  @for (article of articles; track article.id) {
  <app-card
    [title]="article.title"
    [author]="article.authorUsername"
    [date]="formatDate(article.createdAt)"
    [description]="article.content"
    (cardClick)="onArticleClick(article)"
  >
  </app-card>
  }
</div>
}
<!-- Empty state -->
@if(!isLoading && articles.length === 0) {
<div class="empty-state">
  <p>Aucun article disponible pour le moment.</p>
  <button mat-raised-button color="primary" (click)="onCreateArticle()">
    Créer le premier article
  </button>
</div>
}
