<!-- Main Content -->
<mat-toolbar class="header">
  <!-- Left section -->
  <div class="header__left">
    <a routerLink="/" class="header__logo">
      <img src="assets/logo_p6.png" alt="MDD Logo" />
    </a>
  </div>

  <!-- Spacer -->
  <span class="header__spacer"></span>

  <!-- Right section - Desktop -->
  <div class="header__nav header__nav--desktop">
    <button
      matButton
      (click)="onLogoutClick()"
      [disabled]="authService.isLoggingOut()"
      class="header__nav-link header__nav-link--logout"
    >
      @if (authService.isLoggingOut()) { Déconnexion... } @else { Se déconnecter
      }
    </button>
    <a mat-button routerLink="/articles" class="header__nav-link">Articles</a>
    <a mat-button routerLink="/themes" class="header__nav-link">Thèmes</a>
    <button
      mat-icon-button
      class="avatar-button"
      aria-label="User profile"
      routerLink="/profile"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>

  <!-- Mobile menu -->
  <button
    mat-icon-button
    class="header__burger header__burger--mobile"
    (click)="onBurgerMenuClick()"
    aria-label="Menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
